body
{
    background-color: rgb(242, 220, 223);
    font-family: Arial, Helvetica, sans-serif;
}
header
{
    background: url(images/header-bg.jpg);
    height: 100px;
    width: 100%;
}

header h1
{
    color: rgb(250, 215, 222);
    float: left;
    padding-left: 200px;
    font-size: 40px;
    font-weight: bold;
}
#header1 ul
{
    display: flex;
    float: right;
    list-style: none;
    margin-right: 90px;
}
header ul li
{
    padding-right: 60px;
    padding-top: 45px;
}
header ul li a
{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
header ul li a:hover
{
    color: rgb(249, 205, 214);
}
#image img
{
    width: 400px;
    height: 400px;
    float: left;
    margin-left: 170px;
    margin-top: 60px;
    margin-bottom: 60px;
}
#menu #text
{
    float: right;
    padding-right: 200px;
    padding-top: 180px;
}
#text p
{
    margin-right: -50px;
    margin-top: -40px;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    color:  white;
    background-color: rgb(200, 138, 151);
    border-radius: 10px;
    width: 700px;
}
#text a
{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
footer
{
    background: url(images/header-bg.jpg);
    height: 110px;
    width: 100%;
    clear: both;
    margin-top: 200px;
}
footer h1
{
    color: rgb(250, 215, 222);
    float: left;
    padding-left: 200px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 50px;
}
#footer1 ul
{
    display: flex;
    float: right;
    list-style: none;
    margin-right: 90px;
    font-size: 15px;
}
footer ul li
{
    padding-right: 60px;
    padding-top: 45px;
}
footer ul li a
{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
footer ul li a:hover
{
    color: rgb(249, 205, 214);
}
#menu #hobbies_01 img
{
    width: 300px;
    height: 350px;
}
#menu #hobbies_01 p
{
    width: 300px;
}
#menu #hobbies_02 img
{
    width: 400px;
    height: 300px;    
}
#menu #hobbies_02 p
{
    width: 400px;
}
#menu #hobbies_01
{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-left: 40px;
    color: white;
}
#menu #hobbies_01 #hobby1, #menu #hobbies_01 #hobby2, #menu #hobbies_01 #hobby3
{
    background-color: rgb(200, 138, 151);
}
#menu #hobbies_02
{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-left: 40px;
    color: white;
}
#hobby1, #hobby2, #hobby3
{
    width: 350px;
    background-color:rgb(200, 138, 151);
    padding-left: 60px;
    padding-top: 40px;
    border-radius: 10%;
}
#hobby4, #hobby5
{
    width: 400px;
    background-color:rgb(200, 138, 151);
    padding-left: 60px;
    padding-top: 40px;
    border-radius: 10%;
    margin-bottom: -80px;
}
#menu #hobbies_02 #hobby4, #menu #hobbies_02 #hobby5
{
    background-color: rgb(200, 138, 151);
}
#menu #hobbies_02
{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-left: 30px;
    margin-bottom: -50px;
}
#hobby4, #hobby5
{
    width: 400px;
    background-color:rgb(200, 138, 151);
    padding-left: 60px;
    padding-top: 40px;
    padding-right: 60px;
    border-radius: 10%;
}
#menu #section_01 img
{
    width: 350px;
    height: 450px;
    margin-bottom: 50px;
    padding-right: 10px;
}
#menu #section_02 img
{
    width: 350px;
    height: 450px;
    margin-bottom: 50px;
    padding-right: 10px;
}
#menu #section_01
{
    float: left;
    margin-left: 90px;
    margin-top: 50px;
    color: white;
}
#menu #section_02
{
    float: right;
    margin-right: 30px;
    margin-top: 50px;
    color: white;
}
#book, #coffee, #movie, #tv-show, #pizza, #place
{
    display: flex;
}
#book #book_01{
    width: 400px;
    height: 500px;
    background-color: rgb(200, 138, 151);
    padding-left: 40px;
    padding-top: 50px;
    border-radius: 10%;
    margin-bottom: 30px;
}
#book p{
    width: 150px;
    height: 50px;
    background-color: rgb(200, 138, 151);
    border-radius: 10%;
    margin-top: 80px;
    margin-left: -20px;
    padding-top: 20px;
    padding-left: 40px;
    font-size: 20px;
}
#coffee #coffee_01{
    width: 400px;
    height: 500px;
    background-color: rgb(200, 138, 151);
    padding-left: 40px;
    padding-top: 50px;
    border-radius: 10%;
    margin-bottom: 30px;
}
#coffee p{
    width: 150px;
    height: 50px;
    background-color: rgb(200, 138, 151);
    border-radius: 10%;
    margin-top: 80px;
    margin-left: -20px;
    padding-top: 20px;
    padding-left: 40px;
    font-size: 20px;
}
#movie #movie_01{
    width: 400px;
    height: 500px;
    background-color: rgb(200, 138, 151);
    padding-left: 40px;
    padding-top: 50px;
    border-radius: 10%;
    margin-bottom: 30px;
}
#movie p{
    width: 150px;
    height: 50px;
    background-color: rgb(200, 138, 151);
    border-radius: 10%;
    margin-top: 80px;
    margin-left: -20px;
    padding-top: 20px;
    padding-left: 40px;
    font-size: 20px;
}
#pizza #pizza_01{
    width: 400px;
    height: 500px;
    background-color: rgb(200, 138, 151);
    padding-left: 40px;
    padding-top: 50px;
    border-radius: 10%;
    margin-bottom: 30px;
}
#pizza p{
    width: 150px;
    height: 50px;
    background-color: rgb(200, 138, 151);
    border-radius: 10%;
    margin-top: 80px;
    margin-left: -20px;
    padding-top: 20px;
    padding-left: 40px;
    font-size: 20px;
}
#tv-show #tv-show_01{
    width: 400px;
    height: 500px;
    background-color: rgb(200, 138, 151);
    padding-left: 40px;
    padding-top: 50px;
    border-radius: 10%;
    margin-bottom: 30px;
}
#tv-show p{
    width: 150px;
    height: 50px;
    background-color: rgb(200, 138, 151);
    border-radius: 10%;
    margin-top: 80px;
    margin-left: -20px;
    padding-top: 20px;
    padding-left: 40px;
    font-size: 20px;
}
#place #place_01{
    width: 400px;
    height: 500px;
    background-color: rgb(200, 138, 151);
    padding-left: 40px;
    padding-top: 50px;
    border-radius: 10%;
    margin-bottom: 30px;
}
#place p{
    width: 150px;
    height: 50px;
    background-color: rgb(200, 138, 151);
    border-radius: 10%;
    margin-top: 80px;
    margin-left: -20px;
    padding-top: 20px;
    padding-left: 40px;
    font-size: 20px;
}
#menu #left
{
    float: left;
    padding-right: 200px;
    padding-top: 180px;
}
#left p
{
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    color:  white;
    background-color: rgb(200, 138, 151);
    border-radius: 10px;
    width: 600px;
    height: 100px;
    padding: 20px 20px 20px 20px;
    margin-left: 40px;
    margin-top: 50px;
}
#left a
{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
#menu #right img
{
    width: 250px;
    height: 450px;
    padding-right: 40px;
  
}
#menu #right
{
    float: right;
    display: flex;
}
#menu #right #instagram1
{
    width: 300px;
    height: 400px;
    background-color: rgb(200, 138, 151);
    padding-left: 40px;
    padding-top: 50px;
    border-radius: 10%;
    margin-bottom: 30px;
    margin-top: -350px;
    padding-bottom: 90px;
    padding-left: 50px;
    margin-right: 50px;
}
#menu #right #instagram2
{
    width: 300px;
    height: 400px;
    background-color: rgb(200, 138, 151);
    padding-left: 40px;
    padding-top: 50px;
    border-radius: 10%;
    margin-bottom: 30px;
    margin-top: -350px;
    padding-bottom: 90px;
    padding-left: 50px;
    margin-right: 40px;
}
